@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body{
    background-image: url('bg.png');
    background-repeat: repeat;
    background-attachment: fixed;
    height: 1050px;
    z-index: -2;
}

img{
    position: fixed;
width: 500px;
height: 650px;
vertical-align: bottom;
left: 800px;
z-index: -1;
}

.head {
    color: white;
    margin-top: 200px;
    padding-bottom: 50px;
    font-size: 80px;
    font-weight: bold;
    font-family: 'poppins';
}

.content{
    color: white;
    font-size: 20px;
    font-family: 'poppins';
}

a{
    color: yellow;
}

a:hover{
    color: yellow;
}