@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body{
    background-image: url('bg.png');
    background-repeat: repeat;
    background-attachment: fixed;
    height: 650px;
    z-index: -2;
}

img{
    position: fixed;
width: 500px;
height: 650px;
vertical-align: bottom;
left: 800px;
z-index: -1;
}

.name{
    color: white;
    font-family: 'poppins';
}

.email{
    color: white;
    font-family: 'poppins';
}

.message{
    color: white;
    font-family: 'poppins';
}

.head{
    color: white;
    font-family: 'poppins';
    font-size: 72px;
    font-weight: bold;
    margin-top: 200px;
}

a{
    color: yellow;
}

a:hover{
    color: yellow;
}

.content{
    color: white;
    font-size: 20px;
    padding-bottom: 20px;
}
